<div class="row">
    <h1>Estudios</h1>
    <div class="col-lg 11">
        <ul>
            <li>
                <h3>Escuela Tecnica N°5 Mar del Plata.</h3>
                <p>Técnico Electronico</p>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Premios y certificaciónes</h3>
                <p>3er puesto en Cisco Webex Hackathon 2022 | Project DevBot </p>
                <p>Webex Power User Ambassador</p>
                <p>Webex Associate Ambassador IT Admin</p>
                <p>Webex Associate Ambassador Adoption Advocate</p>
                <p>Junior Achievement Alumni</p>

            </li>
        </ul>
    </div>
</div>
