<div class="row">
 

    <caption><h1>Experiencia laboral</h1></caption>
  <div>
    <button type="button" class="btn btn-info btn-lg btn-block" routerLink="/nuevaexp" *ngIf="isLogged">
      Agregar Experiencia Laboral
      <i class="bi bi-file-earmark-diff"></i>
    </button>
    <br>
    <br>
  </div>




  <div id="table">
    <table>
      
      <tbody>
          <tr *ngFor="let Experiencia of expe">
            <td>
              <h2>Empresa:</h2>
              <h3>{{Experiencia.nombreE}}</h3>
            </td>
            <td>
              <h2>Puesto:</h2>
              <h3>{{Experiencia.descripcionE}}</h3>
            </td>
            <td>
              <h2>Fecha:</h2>
              <h3>{{Experiencia.fechaE}}</h3>
            </td>
            <td>
              <h2>Observaciones:</h2>
              <h3>{{Experiencia.obsE}}</h3>
            </td>
            <td *ngIf="isLogged">
              <button class="btn btn-success" routerLink="/editexp/{{Experiencia.id}}">
                <i class="bi bi-pencil-fill"></i></button>
          
              <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                <i class="bi bi-trash"></i></button>
            </td>
          </tr>
      </tbody>
    </table>
  </div>

</div>
