<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    
    <img src={{persona.img}} class="img-fluid" id="pic">
   
  </div>
  

<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">

  
  <h2 id="nombre" style="margin-top: 0px;">{{persona.nombre}} {{persona.apellido}}</h2>
  <p id="titulo">{{persona.titulo}}</p>
  <button class="btn btn-success" routerLink="/editacercade/{{persona.id}}" *ngIf="isLogged">
    <i class="bi bi-pencil-fill"></i></button>
</div>


<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">

  <h1 _ngcontent-pve-c55="" style="
  padding-top: 0px;
">Sobre mi</h1>

    <p>{{persona.descripcion}} </p>

 

 
</div>
</div>




