.row {
  padding: 90px;
  border-radius: 0px 0px 00px 200px;
}



div {
  background-color: #ffff;
  text-align: left;
  
}


@media (min-width: 576px) {
  #pic {
    position: absolute;
    width: 15%;
    border-radius: 100%;
    border: 2px solid #fff;
    left: 3%;
    top: 350px;
  }

 


}




@media (max-width: 575px) {
  #pic {
    position: absolute;
    width: 60%;
    border-radius: 100%;
    border: 2px solid #fff;
    left: 20%;
    top: 330px;
    
  }

  div {
    background-color: #ffff;
    text-align: center;
  }




}

/**
**/