<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img class="profilepic" src="../../../assets/me.png" class="img-fluid" id="pic">
  </div>


<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
  <p id="nombre">{{persona.nombre}} {{persona.apellido}} </p>
  <p>Full Stack Developer Jr.</p>
</div>

<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">

  <span>
    <h1>Sobre mi</h1>
    <p> A los 6 años me regalaron mi primera computadora personal, era una 286 con 5 1/4 drives y monitor Hercules. Y a
      partir de ese momento ya no hubo vuelta atrás, los ordenadores y los aparatos electrónicos en general me
      engancharon.
      Más adelante en la vida se convirtió en una carrera y un pasatiempo, me encanta aprender, trato de involucrarme
      en las nuevas tecnologías todo el tiempo y, sobre todo, me encanta aplicar lo que he aprendido en todos los
      aspectos de la vida.
      También me encantan los nuevos retos y abordar conceptos que parecen complicados y simplificarlos.</p>

  </span>
</div>
</div>




