<div class="row">
<body>
  

<h2>Experiencia Laboral</h2>

<ul class="timeline">
    <li>
        <div class="timeline-badge">
          <a><i class="fa fa-circle" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
            
              <img src="../../../assets/megatone.png" class="flex">
              <h4>Megatone</h4>
            
            </div>
           
            <div class="timeline-body">
              <p><b>Soporte Técnico</b></p>
                 <ul style="padding:0 40px">
                    <li>Mis funciones consistían en viajar por toda Argentina instalando equipos de red, servidores y estaciones de trabajo</li>
                    <li>Instalación de servidores Unix/Linux </li>
                    <li>Configuración e instalación de equipos MPLS</li>
                    <li>Soporte para una aplicación Fox Pro y bases de datos</li>
                  </ul>
            </div>
            <div class="timeline-footer">
                <p class="text-right">03/2006 - 11/2009</p>
            </div>
        </div>
    </li>
    
    <li class="timeline-inverted">
        <div class="timeline-badge">
            <a><i class="fa fa-circle invert" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
              <img src="../../../assets/sancor.png" class="img-fluid">
                <h4>SanCor - Integral Insumos S.A</h4>
            </div>
            <div class="timeline-body">
                <p>Soporte Técnico y Ejecutivo de Cuenta</p>
                <ul style="padding:0 40px">
                <li>Soporte Técnico de Aplicaciones, redes y tecnologías Voip y Sip en mis primeros años, luego me ascendieron a Ejecutivo de Cuentas donde mis tareas consistían en hablar con clientes, negociar contratos, investigar nuevas tecnologías, captar nuevos clientes y facturar.</li>
                  <li>Modificación de SO Symbian y Android en smartphones para adaptarlos a nuestros desarrollos.</li>
                  <li>Trabaja en placas Arduino</li>
                    <li> AS/400 Copias de seguridad y consultas</li>
                      <li>Administración de VMware</li>
                        <li> Soporte de directorio activo</li>
                          <li>  Implementación de Citrix</li>
                            <li> Soporte para aplicaciones personalizadas.</li>
                            <li> Solución de problemas de red para clientes VIP de nuestro pequeño ISP. </li>
                            </ul>
            </div>
            <div class="timeline-footer">
                <p class="text-right">08/2010 - 06/2018</p>
            </div>
        </div>
    </li>
    
    <li>
        <div class="timeline-badge">
            <a><i class="fa fa-circle" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
              <img src="../../../assets/cabl.png" class="img-fluid">
                <h4>CABL y Asociados S.A</h4>
            </div>
            <div class="timeline-body">
                <p>Administrador / Desarrollador de Telecomunicaciones</p>

<ul style="padding:0 40px">
  <li>Trabajando con Grupo Sancor Seguros pero bajo Cabl & Asociados</li>
  <li>Migracíon de Skype/Jabber a Webex para casi 5000+ usuarios.</li>
  <li>Administrador de comunicaciones unificadas de Cisco (más de 4000 terminales)</li>
  <li>Administrador de Cisco Unified CCX y Finesse.</li>
  <li>Scripting e implementación de IVR.</li>
  <li>Diseño y despliegue de salas de Telepresencia.</li>
  <li>Desarrollador de Integración y Bots en dichas plataformas Cisco.</li>
</ul>
            </div>
            <div class="timeline-footer">
                <p class="text-right">06/2018 - 04/2021</p>
            </div>
        </div>
    </li>
    
    <li class="timeline-inverted">
        <div class="timeline-badge">
            <a><i class="fa fa-circle invert" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
              <img src="../../../assets/sancorseguros.png" class="img-fluid">
                <h4>Grupo Sancor Seguros</h4>
            </div>
            <div class="timeline-body">
                <p>Administrador / Desarrollador de Telecomunicaciones</p>

<ul style="padding:0 40px">
  <li>Manejo de Webex Collaboration Suite para casi 5000 usuarios, incluyendo Networking, Telepresencia, etc para Argentina, Brasil, Uruguay y Paraguay.</li>
                    
    <li>Administrador de comunicaciones unificadas de Cisco (más de 4500 terminales)</li>
    <li>Administrador de Cisco Unified CCX y Finesse.</li>
    <li>Administrador de Cisco Prime License Manager.</li>
    <li>Administrador de SolarWinds Orión.</li>
    <li>Desarrollador de Integración y Bots.</li>
    <li>Solución de problemas avanzada para integraciones de voz/video, conferencias web, WAN/LAN, Webex.</li>
</ul>
            </div>
            <div class="timeline-footer">
                <p class="text-right">04/2021-Actualidad</p>
            </div>
        </div>
    </li>
    <li class="clearfix no-float"></li>
</ul>
</body>
</div>







