
                                     
                                      <div class="wrapper" *ngFor="let Banner of banner">
                                        <div class="box box1"><img src={{Banner.bgi}} alt="a balloon">
                                           <!--...<h3>{{Banner.nombre}}</h3>-->
                                          <button *ngIf="isLogged" class="pa-button-over-image" routerLink="/editbanner/{{Banner.id}}">
                                            <i class="bi bi-pencil-fill"></i></button></div>
                                      </div>    