.row{   
    padding: 20px;
    width: auto;
    padding-top: 40px;
}
div{    
    background-color: #4493ad;
    ;
    padding-left: 70px;
    padding-right: 70px;
    
}
h3,h6{
    display: inline;
    align-items: center;
    font-weight: bold;
    
    
}
h1{

    text-align: center;

}